@import 'nib'


body
	background-color: #efefef
	font-family: sans-serif
	padding: 20px
	color: #535353

#pages
	margin-top: 30px

.logo
	transition: all 1s ease

menu
	list-style: none
	margin: 0
	text-align: right
	padding: 0
	height: 30px
	li
		display: inline-block
		margin: 10px 20px
		font-size: 20px
		color: #535353
		a
			color: #535353
		a:link
			text-decoration: none
			color: #535353
		a:hover
			text-decoration: none
			color: #535353
			border-bottom: 1px dashed #333
		a:active
			border-bottom: 1px dashed #333
	li:first-child
		margin-left: 5px
.product
	margin-bottom: 30px

.mutui-gallery
	margin-top: 20px
	overflow-x: scroll
	.mutui-gallery-box
		padding: 10px
		width: 1560px
	img
		display: inline
		width: 240px
		margin-right: 10px

@media (max-width: 767px)
	body
		padding: 10px
