br
div.row-fluid
	div.span3
		h3 Dev
		span Dan
		br
		span [ dan at coppio dot com ]
	div.span3
		h3 Design
		span Cat
		br
		span [ cat at coppio dot com ]
br
p For general inquries please email us at [ support at coppio dot com ]
