div.container-fluid
	div.row-fluid
		a.span6(href="")
			img.logo(src="./images/coppio.png", data-bind="event: {mouseover: hoverInLogo, mouseout: hoverOutLogo}")
		div.span6
			menu.row-fluid
				li 
					a(href="#product") PRODUCTS
				li 
					a(href="#about") ABOUT
