div.product
	div.row-fluid
		div.span3
			a(href="#product/mutuicars")
				img(src="./images/mutui_cars/ic_launcher.png")
		div.span3
			a(href="#product/mutuituition")
				img(src="./images/mutui_tuition/ic_launcher.png")



