div.row-fluid
	div.span6
		img(src="./images/mutui_cars/feature.jpg")
		div
			br
			p Mutui Cars is your all-in-one car loan calculator! It is easy to use and designed for car shoppers and dealers! With Mutui Cars, you can save, edit and compare the price of each vehicles to help make that important decision.
			a.pull-right.btn.btn-inverse(href="https://t.co/2Lg5b6np", target='_blank') View on Google Play

	div.span6.mutui-gallery
		div.mutui-gallery-box
			img.img-polaroid(src="./images/mutui_cars/main.png")
			img.img-polaroid(src="./images/mutui_cars/summary.png")
			img.img-polaroid(src="./images/mutui_cars/list.png")
			img.img-polaroid(src="./images/mutui_cars/calculate.png")
			img.img-polaroid(src="./images/mutui_cars/economy.png")
			img.img-polaroid(src="./images/mutui_cars/affordability.png")