div.row-fluid
	div.span6
		img(src="./images/mutui_tuition/feature.png")
		a.btn.pull-right.btn-inverse(href="https://play.google.com/store/apps/details?id=com.coppio.tuition", target='_blank') View on Google Play

	div.span6.mutui-gallery
		div.mutui-gallery-box
			img.img-polaroid(src="./images/mutui_tuition/title.png")
			img.img-polaroid(src="./images/mutui_tuition/main.png")